<html>

<head>
<script src="/js/jquery.js"></script>
<script src="/js/xmllint.js"></script>

<script>
$(document).ready(function() {
    $("#validate").click(function() {
        var output = validateXML($("#xml").val(), $("#schema").val());
        $("#output").val(output);
    });
});
</script>

</head>
<body>

Schema:<br/>
<textarea rows="10", cols="72" id="schema"></textarea>
<br/>

XML:<br/>
<textarea rows="10" cols="72" id="xml"></textarea>
<br/>

Output:<br/>
<textarea rows="10" cols="72" id="output"></textarea>
<br/>

<button id="validate">Validate</button>
</body>

</html>
